{% macro advert_preview(images, advertisement, number) %}
  <head>
    <link rel ="stylesheet" href="/static/css/slideshow.css">
  </head>

  <div class="slideshow-container">

    <div class="slideshow-container">
      {% if  images|length != 0: %}
        {% for image in images %}

          <div class="mySlides{{ number|string }}">
            <img src="show/image/{{ image[0] }}" style = "width:100%">
          </div>

        {% endfor %} 
        <a class="prev" onclick="plusSlides(-1, {{ number }}-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, {{ number }}-1)">&#10095;</a>
      {% else %}
        <img src = "/static/placeholder.png" style = "width:100%">
      {% endif %}

      <a class = "preview_cards" href = "/show/advertisement/{{ advertisement[0] }}">
        <div class = "preview-content">
          <h2>{{ advertisement[5]}} </h2>
          <div class="price"> {{ advertisement[6]}}€/Kk</div>
          <p>{{ advertisement[7][:200] }}</p>
          <input type = "hidden" name="id" value = {{advertisement[0]}}>
        </div>
      </div>
    </a>
  </div>
{% endmacro %}
