{% extends 'layout.html' %}
{% block title %} Vaihda salasanaa {% endblock %}
{% block content %}
<link rel = 'stylesheet' href = '/static/css/form.css'>

<div class = 'form-container'>

  <form action = '/user/changepassword' method = 'POST' onsubmit='return newPasswordsSame(this);'>
    <p> Syötä vanha salasanasi: </p>
    <input type = 'password' name = 'old_password'>
    <p> Syötä uusi salasanasi:</p>
    <input type = 'password' name = 'new_password'>
    <p> Syötä uusi salasanasi uudestaan:</p>
    <input type = 'password' name = 'again_password'>
    <br>
    <input class = 'form-button' type = 'submit' value = 'Vaihda salasanasi'>
  </form>

</div>
  <script> 
    function newPasswordsSame(form) {
      if (form.new_password.value.length <4){
        alert('Uusi salasanasi on liian lyhyt')
        return false;
      }
      if(form.new_password.value !== form.again_password.value){
        alert('Uudet salasanasi eivät ole yhdenmukaiset')
        return false;
      }
      return true;
    }
  </script>
{% endblock %}
