{% extends 'layout.html' %}
{% block title %}Advertisement{% endblock %}
{% block content %}
<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/chat.css"> 
<body>
  <div class = 'profile-info'>
    <h3> {{ reciver[1] }}</h3>
    </a>
  </div>
  <div id = 'chat-box'>
    <div class = 'chat-message'> 
      {% for message in messages %}
      {% if message[1] ==  session['id'] %}
        <div id = 'own-message'>
          <div class = 'message'>
            <p>{{message[3]}}</p>
          </div>
        <div class = 'date'><span> {{formatdate(message[4]) }} </span>{% if message[5]%}<span> &#10004;</span>{% endif %}</div>
        </div>
      {% else %}
        <div id = 'others-message'>
          <div class = 'message'>
            <p> {{message[3]}} </p>
          </div>
          <div class = 'date'><span> {{formatdate(message[4])}} </span> </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>
    <form action = '/chat/sendmessage' method = 'POST'>
      <textarea name = 'message' rows = '4' cols = '50'></textarea>
      <input type = 'submit' value = 'Lähetä'>
      <input type = 'hidden' name = 'chat_id' value = {{ chat_id }}>
    </form>
  
  </div>
</body>
{% endblock %}
