{% extends 'layout.html' %}
{% block title %}Advertisement{% endblock %}
{% block content %}
<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/chat.css"> 

<div class= 'container'>

  <div class ='profile-info'> 
    <form action='/user/profile/{{ profile[0] }}' method ='GET'>
      <button class='info-container1' style='submit'>
        {% if profile[2] is none%}
          <img src = '/static/avatar_placeholder.jpeg'>
        {% else %}
          <img src = '/show/image/{{ profile[2] }}'>
        {% endif %}
        <h3> {{ profile[1] }} </h3>
      </button>
    </form>
    <form  action='/show/advertisement/{{ profile[3]}}' method='GET'>
      <button class='info-container2' style='submit'>
        <p> Ilmoitukseen </p>
      </button>
    </form>
  </div>

  <div id = 'chat-box'>
    <div class = 'chat-message'> 
      {% for message in messages %}

      {% if message[3] ==  session['id'] %}
        <div id = 'own-message'>
          <div class = 'message'>
            <p>{{message[5]}}</p>
          </div>
          <div class = 'date'>
            <span> {{formatdate(message[6]) }} </span>
            {% if message[5]%}
            <span> &#10004;</span>
            {% endif %}
          </div>
        </div>

      {% else %}
        <div id = 'others-message'>
          <div class = 'message'>
            <p> {{message[5]}} </p>
          </div>
          <div class = 'date'><span> {{formatdate(message[6])}} </span> </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>
    
    <form action = '/chat/sendmessage' method = 'POST'>
      <textarea name = 'message' rows = '4' cols = '50'></textarea>
      <input type = 'submit' value = 'Lähetä'>
      <input type = 'hidden' name = 'chat_id' value = {{ chat_id }}>
    </form>
  
  </div>
</div>
{% endblock %}
