{% extends "layout.html" %}
{% block title %}Messages{% endblock %}
{% block content %}
<link rel = "stylesheet" href = "/static/css/chats.css">
<div class = 'chats-container'>
  {% if active_chats|length ==0%}
  <p> Sinulla ei ole aloitettuja viesti ketjuja</p>
  {% endif %}
  {% for chat in active_chats %}

  <a class = 'preview-box' href ='/chat/{{ chat[0] }}'>
      
      <div class = 'avatar'>
        {% if chat[6] is none %}
          <img class = "preview-avatar-img" src="/static/avatar_placeholder.jpeg"> 
        {% else %}
          <img class = 'preview-avatar-img' src='/show/image/{{ chat[6] }}'>
        {% endif %}
      </div>
        
      <div class='content'> 
        <div class = 'name'>
          <h4> {{ chat[1] }} </h4>
        </div>

        <div class = 'message'>
            <span class='sender'>
              {% if chat[5]==session['id'] %}
                You: 
              {% else %}
                {{ chat[1] }}:
              {% endif %}
            </span>
              <span>{{ chat[3][:100] }}...</span> 
        </div>
      </div>
      
      <div class = 'info'>

        <div class = 'date'>
          <p>{{ format_date(chat[4]) }}</p>
        </div>

      </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
