{% extends "layout.html" %}
{% import "card.html" as form %}
{% block title %}Luo uusi ilmoitus {% endblock %}
{% block content %}


<body>
  <h1> Luo uusi ilmoitus tontillesi</h1>
  <br><p>
  <form action ="/newAdvertisement" method = "POST"> 
    <input class="button" type = "submit" value ="Luo uusi ilmoitus"></p>
  </form>
  <h1> Keskeneräiset ilmoituksesi </h1>
  {% if incompletes: %}
  <p>Sinulla on {{ incompletes|length }} keskeneräistä ilmoitusta julkaisematta</p> 
  
  {% for incomplete in incompletes %}
    {{ form.card(images[loop.index0], incomplete) }}
    <br>
  {% endfor %}

  {% else %}
    <p> Sinulla ei ole keskeneräisiä ilmoituksia<br>
  {% endif %}
</body>

{% endblock %}

