{% extends "layout.html" %}
{% block title %}Luo uusi ilmoitus {% endblock %}
{% block content %}


<body>
  <h1> Luo uusi ilmoitus tontillesi</h1>
  <br><p>
  <form action ="/newAdvertisement" method = "POST"> 
    <input type = "submit" value ="Luo uusi ilmoitus"></p>
  </form>
  <h1> Keskeneräiset ilmoituksesi </h1>
  {% if incompletes: %}
  <p>Sinulla on {{ incompletes|length }} keskeneräistä ilmoitusta julkaisematta</p> 
  {% for incomplete in incompletes %}

  <div class="card">
    <form action = "/editAdvertisement/{{incomplete[0]}}" method = "GET">
      {% if  images[loop.index0]|length != 0: %}
        <img src = "/show/{{ images[loop.index0][0][0] }}" style = "width:100%">
      {% else %}
        <img src = "/static/placeholder.png" style = "width:100%">
      {% endif %}
      <div class ="container">
        <h4><b>{{ incomplete[4] }}</b></h4> 
        <p>{{ incomplete[5][:30] }}</p>
        <hr>
        <input type = "submit" name = "edit" value = "Muokkaa">
        <input type = "hidden" name="id" value = {{incomplete[0]}}>
    </form>
  <form action = "/delete" method = "POST" >
    <input type = "submit" name = "delete" value = "Poista">
    <input type = "hidden" name="id" value = {{incomplete[0]}}>
      </div>
  </form>
  </div>
    </p>
  {% endfor %}
  {% else %}
    <p> Sinulla ei ole keskeneräisiä ilmoituksia<br>
  {% endif %}
</body>

{% endblock %}

