<!DOCTYPE html>
<link rel="stylesheet" href="main.css"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Tonttien vuokraus sovellus - {% block title %}{% endblock %} </title>
<h1> Tonttien vuokraus sovellus </h1>
<a href = "/"> Etusivu</a>
{% if session.username %}
|<a href = "/create"> Luo uusi ilmoitus </a>
|<a href = "/profile"> Näytä profiili </a>
|<a href = "/logout"> Kirjaudu ulos</a>
{% else %}
|<a href = "/login"> Kirjaudu sisään </a>
{% endif %}
<hr>
{% block content %}{% endblock %}

<footer> 
  <hr>
  <p> Tekijä: Sami Horttanainen</p>
</footer>
