<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/main.css"> 
<meta name='viewport' content='width=device-width, initial-scale=1'>

<title> Tonttien vuokraus sovellus - {% block title %}{% endblock %} </title>

<body class = 'layout-body'>
  <div class = 'body-container'>

    <h1> Tonttien vuokraus sovellus </h1>
    <div class ='navbar'>
      <a href = "/"> Etusivu</a>

      {% if session.username %}
      |<a href = "/advertisement/unpublished"> Luo uusi ilmoitus </a>
      |<a href = "/user/profile"> Näytä profiili </a>
      |<a href = "/user/messages"> Näytä viestit </a>
      |<a href = "/logout"> Kirjaudu ulos</a>
      {% else %}
      |<a href = "/login"> Kirjaudu sisään </a>
      {% endif %}
    </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class = 'flashes-container'>
          {% for category, message in messages %}
          <p class='{{ category }}'>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    <footer> 
      <hr>
      <p> Tekijä: Sami Horttanainen</p>
    </footer>

  </div>
</body>
