<!DOCTYPE html>
<link rel='stylesheet' href='/static/css/main.css'> 
<meta name='viewport' content='width=device-width, initial-scale=1'>

<title> Tonttien vuokraus sovellus - {% block title %}{% endblock %} </title>

<body class = 'layout-body'>
  <div class = 'body-container'>

    <h1> Tonttien vuokraus sovellus </h1>
    <div class ='navbar'>
      <a class='button' href = '/'> Etusivu</a>

      {% if session.username %}
        <a class='button' href = '/advertisement/unpublished'> Luo uusi ilmoitus </a>
        <a class='button' href = '/user/profile/{{session['id']}}'> Näytä profiili </a>
        <a class='button' href = '/user/messages'> Näytä viestit </a>
        <a class='button' href = '/logout'> Kirjaudu ulos</a>
      {% else %}
        <a class='button' href = '/login'> Kirjaudu sisään </a>
      {% endif %}
      
    </div>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class = 'flashes-container'>
        {% for category, message in messages %}
        <p class='{{ category }}'>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}

    <div class= 'container'>    {% block content %}{% endblock %}</div>


  </div>
  <div class = 'footer'> 
    <hr>
    <p> Tekijä: Sami Horttanainen</p>
  </div>
</body>
