{% extends "layout.html" %}
{% import 'advert_preview.html' as form %}
{% block title %} Profiili {% endblock %}
{% block content %}
<link rel = "stylesheet" href="/static/css/profile.css">
{% if profile[0]==session['id'] %}
  <div class = 'modify-container'>
    <h2> Muokkaa profiiliasi </h2>
    <form class='modify-form' action = '/user/profile/modify' method="GET">
      <input class = 'modify-button' type = 'submit' value = 'muokkaa'>
      <input type = 'hidden' value ={{ profile[0] }}>
    </form>
    <a class = 'change-password' href = '/user/profile/changepassword'>Vaihda salasana</a>
    <form class = 'modify-form' action='/user/profile/remove' method='POST' onSubmit="return confirm('Oletko varma että haluat poistaa tilisi, kaikki tieto mitä olet tallettanut tullaan poistamaan?');">
      <input id='remove' class = 'modify-button' type = 'submit' value = 'Poista käyttäjä'>
      <input type = 'hidden' value ={{ profile[0] }}>
    </form>
  </div>
{% endif %}
<div class = 'profile-avatar-container'>
  <div class = 'avatar-image-container'>
    {% if profile[5] is not none %}
      <img class = 'profile-avatar-image' src='/show/image/{{profile[5]}}' alt = "avatar">
    {% else %}
      <img class = 'profile-avatar-image' src="/static/avatar_placeholder.jpeg" alt = "avatar">
    {% endif %}
  </div>
  <div class = 'profile-avatar-data'>
    <h2>{{ profile[1] }}</h2>
    <div class = 'personal-info'>
      <h3> Tiedot </h3>
      <p> Asuu paikkakunnalla :<br> 
      {% if profile[3] is none %}
        - 
      {% else %}
        {{ profile[3] }} </p>  
      {% endif %}
    </div>
  </div>
</div>
  
<div class = 'profile-data-container'>
  <div class = 'profile-pitch'>
    <h3 class = 'profile'> Tietoa minusta </h3>
    <p class = 'pitch'>
      {% if  profile[4] is none %}
        - 
      {% else %} 
        {{ profile[4] }} 
      {% endif %}
    </p>  
  </div>
</div>

<div class = 'profile-advertisement-container'>
  {% if profile %}
    <h2> Tekemäsi tontti ilmoitukset</h2>
  {% else %}
    <h2>Käyttäjän {{ profile[1] }} tekemät ilmoitukset </h2> 
  {% endif %}

  {% for advertisement in advertisements %}
  {% set images = get_images(advertisement[0]) %}
    {{form.advert_preview(images, advertisement,loop.index )}}
  {% endfor %}
</div>
  
  <script>
  var slideIndex = [];
  var slideId = [];
for(i = 1; i<={{advertisements|length}};i++){
    slideIndex.push(1);
    slideId.push("mySlides"+i)
    showSlides(1,i-1);
  }

  function plusSlides(n, no) {
    showSlides(slideIndex[no] += n, no);
  }

  function showSlides(n, no) {
    var i;
    var x = document.getElementsByClassName(slideId[no]);
    if (n > x.length) {slideIndex[no] = 1}    
    if (n < 1) {slideIndex[no] = x.length}
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    x[slideIndex[no]-1].style.display = "block";  
  }
  </script>
{% endblock %}

