{% extends "layout.html" %}
{% import 'card.html' as form %}
{% block title %} Profiili {% endblock %}
{% block content %}
<body>
  <h1> Profiilisi, {{session["username"]}}</h1>
  <a href="/" > takaisin </a> 

  <body>
    <h3> Tekemäsi tontti ilmoitukset</h3>
    {% if advertisements %}
      {% for advertisement in advertisements %}
      <p> {{ form.card(images[loop.index0], advertisement) }}</p>
      {% endfor %}
    {% else %}
      <p> Sinulla ei ole julkaistuja tontti ilmoituksia </p>
    {% endif %}
  </body>
</body>
{% endblock %}
