{% extends 'layout.html' %}
{% import 'card.html' as form %} 
{% import 'region.html' as select %}
{% block title %}Haku{% endblock %}
{% block content %}
<link rel='stylesheet' href='/static/css/advertisementcard.css'>
<link rel='stylesheet' href='/static/css/slideshow.css'>
<link rel='stylesheet' href='/static/css/index.css'>

<div class='index-container'>
  <div class='search'>
    <h2> Etsi tonttia paikkakunnan mukaan </h2>
    <form action = '/search' method = 'GET' >
      <input class ='button' type = 'submit' value = 'Hae'>
      <ul>
        <li>
          <select name = 'region'>
            {{ select.region() }} 
          </select>
        </li>
        <li>
          <label for='a' >Min hinta</label>
          <input type = 'number' name='min' value = {{min}}>
        </li>
        <li>
          <label for='b'> Max hinta</label>
          <input type = 'number' name='max' value = {{max}}>
        </li>
      </ul>
    </form>
  </div>
  <div class='recent-properties'>
    <h3> Löydetyt julkaistut ilmoitukset </h3>
    <div>
      <h3> Rajaus ehdot </h3>
      <ul>
        <li>Kunta: {{region}} </li>
        <li>Alaraja: {{min}} </li>
        <li>Yläraja: {{max}} </li>
      </ul>
    {% for advertisement in advertisements %}
      {{ form.card(images[loop.index0], advertisement, loop.index) }}
    {% endfor %}

    {% if current_page != 1 %}
        <a class='btn btn-outline-info mb-4' href='{{ url_for('index', page=current_page-1) }}'><<</a>
    {% endif %}
    {% for page_num in range(1, pages+1) %}
      {% if page_num in [1, current_page, current_page-1, current_page+1, pages] %}
        {% if current_page == page_num %}
          <a class='btn btn-info mb-4' href='{{ url_for('index', page=page_num) }}'>{{ page_num }}</a>
        {% else %}
          <a class='btn btn-outline-info mb-4' href='{{ url_for('index', page=page_num) }}'>{{ page_num }}</a>
        {% endif %}
      {% elif current_page > 2 and page_num == 2 %}
          ....
      {% elif current_page < pages-2 and page_num == pages-2 %}
          ....
      {% endif %}
    {% endfor %}

    {% if current_page != pages %}
        <a class='btn btn-outline-info mb-4' href='{{ url_for('index', page=current_page+1) }}'>>></a>
    {% endif %}
  </div>
</div>
<script>
  var slideIndex = [];
  var slideId = [];
  for(i = 1; i<={{images|length}};i++){
      slideIndex.push(1);
      slideId.push('mySlides'+i)
      showSlides(1,i-1);
    }
  function plusSlides(n, no) {
    showSlides(slideIndex[no] += n, no);
  }

  function showSlides(n, no) {
    var i;
    var x = document.getElementsByClassName(slideId[no]);
    if (n > x.length) {slideIndex[no] = 1}    
    if (n < 1) {slideIndex[no] = x.length}
    for (i = 0; i < x.length; i++) {
       x[i].style.display = 'none';  
    }
    if(x.length ==0){
      return;
    }
    x[slideIndex[no]-1].style.display = 'block';  
  }

  function next(form){
    return (number(form.offset.value)+10)}
function previous(form){return(number(form.offset.value)-10)}
</script>
{% endblock %}
