{% extends "layout.html" %}
{% block title %}Luo tunnus{% endblock %}
{% block content %}
<link rel='stylesheet' href = '/static/css/form.css'>
<div class='form-container'>
  <form action = '/register' method = 'POST' onsubmit='return check(this);'>
    <h2> Luo käyttäjätunnus</h2> 
    <p> käyttäjätunnus </p>
    <input type = 'text' name = 'username'>
    <p> Salasana</p>
    <input type = 'password' name = 'password'>
    <input class = 'form-button' type = 'submit' value = 'Luo tunnus'> 
  </from>
</div>
  <script>
    function check(form){
      if (form.password.value.length<4){
        alert('Salasana on liian lyhyt, min 4 merkkiä')
        return false;
      }
      return true;
    }
  </script>
{% endblock %}
